# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import the users table.

In [3]:
users = pd.read_csv("../data/users.csv")

In [4]:
users.head()

   Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0           0      -1           1      0     5007       1920
1           1       2         101     25        3          0
2           2       3         101     22       19          0
3           3       4         101     11        0          0
4           4       5        6792   1145      662          5

#### 3. Rename Id column to userId.

In [ ]:
## already done

#### 4. Import the posts table.

In [6]:
posts = pd.read_csv("../data/posts.csv")

In [7]:
posts.head()

   Unnamed: 0  PostId  userId  Score  ViewCount  CommentCount
0           0       1     8.0     23     1278.0             1
1           1       2    24.0     22     8198.0             1
2           2       3    18.0     54     3613.0             4
3           3       4    23.0     13     5224.0             2
4           4       5    23.0     81        NaN             3

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [ ]:
# already done

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [14]:
users_sliced = users[["userId", "Reputation", "UpVotes", "DownVotes"]]
posts_sliced = posts[["PostId", "Score", "userId", "ViewCount", "CommentCount"]]

In [17]:
posts_sliced.head()

   PostId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [19]:
merged_data = users_sliced.merge(right=posts_sliced,how="left", on="userId")
merged_data.head()

,userId,Reputation,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,5007,1920,8982.0,0.0,NaN,0.0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [20]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108926 entries, 0 to 108925
Data columns (total 8 columns):
userId          108926 non-null int64
Reputation      108926 non-null int64
UpVotes         108926 non-null int64
DownVotes       108926 non-null int64
PostId          90584 non-null float64
Score           90584 non-null float64
ViewCount       42188 non-null float64
CommentCount    90584 non-null float64
dtypes: float64(4), int64(4)
memory usage: 7.5 MB

In [27]:
#answer:
pd.isnull(merged_data).sum()

userId              0
Reputation          0
UpVotes             0
DownVotes           0
PostId          18342
Score           18342
ViewCount       66738
CommentCount    18342
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [ ]:
# I would not clean them, because we might miss information in other columns. I would substitute for "'NI", for example, meaning "not informed".

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [33]:
merged_data.fillna("0")

,userId,Reputation,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,5007,1920,2175,0,0,0
1,-1,1,5007,1920,8576,0,0,0
2,-1,1,5007,1920,8578,0,0,0
3,-1,1,5007,1920,8981,0,0,0
4,-1,1,5007,1920,8982,0,0,0
...,...,...,...,...,...,...,...,...
108921,55743,1,0,0,0,0,0,0
108922,55744,6,0,0,115370,1,13,2
108923,55745,101,0,0,0,0,0,0
108924,55746,106,0,0,115376,1,5,2
108925,55747,1,0,0,0,0,0,0

In [34]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108926 entries, 0 to 108925
Data columns (total 8 columns):
userId          108926 non-null int64
Reputation      108926 non-null int64
UpVotes         108926 non-null int64
DownVotes       108926 non-null int64
PostId          90584 non-null float64
Score           90584 non-null float64
ViewCount       42188 non-null float64
CommentCount    90584 non-null float64
dtypes: float64(4), int64(4)
memory usage: 7.5 MB

In [ ]:
## I don't think any data type should be changed in this case