# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

#### 4. Import the users table.

In [2]:
users = pd.read_csv('../Datasets%20as%20a%20CSV/users.csv', index_col=0)
users

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

#### 5. Rename Id column to userId.

#### 6. Import the posts table.

In [3]:
posts = pd.read_csv('../Datasets%20as%20a%20CSV/posts.csv',index_col = 0)
posts

       PostId   userId  Score  ViewCount  CommentCount
0           1      8.0     23     1278.0             1
1           2     24.0     22     8198.0             1
2           3     18.0     54     3613.0             4
3           4     23.0     13     5224.0             2
4           5     23.0     81        NaN             3
...       ...      ...    ...        ...           ...
91971  115374    805.0      2        NaN             2
91972  115375  49365.0      0        9.0             0
91973  115376  55746.0      1        5.0             2
91974  115377    805.0      0        NaN             0
91975  115378   7250.0      0        NaN             0

[91976 rows x 5 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId.

#### 8. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [4]:
users_sliced = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_sliced = posts[['PostId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 9. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [5]:
df = users_sliced.merge(posts_sliced,left_on='userId',right_on='userId',how='inner')
df

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   PostId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     42188 non-null  float64
 8   CommentCount  90584 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 6.9 MB

In [7]:
# Values missing in ViewCount: posts dataframe does not monitor ViewCount
# Loosing 1392 values from posts dataframe that have no usierId

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [8]:
""" drop the ViewCount as there is Views that can give us the same kind of info """

df[df['userId']<0]

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
206,-1,1,0,5007,1920,107658,0,NaN,0
207,-1,1,0,5007,1920,109441,0,NaN,0
208,-1,1,0,5007,1920,112068,0,NaN,0
209,-1,1,0,5007,1920,112070,0,NaN,0
210,-1,1,0,5007,1920,112517,0,NaN,0

In [9]:
df = df.drop(df[df['userId']<0].index,axis=0)
df

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229.0,5
212,5,6792,1145,662,5,12,20,NaN,1
213,5,6792,1145,662,5,32,12,NaN,0
214,5,6792,1145,662,5,49,6,NaN,0
215,5,6792,1145,662,5,64,6,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

In [10]:
df.corr()

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
userId,1.000000,-0.346411,-0.302496,-0.289830,-0.223407,0.705679,-0.234856,-0.181916,-0.034489
Reputation,-0.346411,1.000000,0.906674,0.859004,0.776003,-0.076617,0.124332,0.057293,0.041065
Views,-0.302496,0.906674,1.000000,0.811345,0.878943,-0.122326,0.128270,0.056347,0.048457
UpVotes,-0.289830,0.859004,0.811345,1.000000,0.774468,-0.099319,0.133760,0.046272,0.032497
DownVotes,-0.223407,0.776003,0.878943,0.774468,1.000000,-0.096864,0.124307,0.033729,0.035718
PostId,0.705679,-0.076617,-0.122326,-0.099319,-0.096864,1.000000,-0.262983,-0.235046,-0.041727
Score,-0.234856,0.124332,0.128270,0.133760,0.124307,-0.262983,1.000000,0.532106,0.147456
ViewCount,-0.181916,0.057293,0.056347,0.046272,0.033729,-0.235046,0.532106,1.000000,0.044713
CommentCount,-0.034489,0.041065,0.048457,0.032497,0.035718,-0.041727,0.147456,0.044713,1.000000

In [11]:
df = df.drop(['ViewCount'],axis=1)
df

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,CommentCount
211,5,6792,1145,662,5,6,152,5
212,5,6792,1145,662,5,12,20,1
213,5,6792,1145,662,5,32,12,0
214,5,6792,1145,662,5,49,6,0
215,5,6792,1145,662,5,64,6,0
...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,0
90580,55738,11,0,0,0,115360,2,4
90581,55742,6,0,0,0,115366,1,0
90582,55744,6,1,0,0,115370,1,2
90583,55746,106,1,0,0,115376,1,2

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90373 entries, 211 to 90583
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90373 non-null  int64
 1   Reputation    90373 non-null  int64
 2   Views         90373 non-null  int64
 3   UpVotes       90373 non-null  int64
 4   DownVotes     90373 non-null  int64
 5   PostId        90373 non-null  int64
 6   Score         90373 non-null  int64
 7   CommentCount  90373 non-null  int64
dtypes: int64(8)
memory usage: 6.2 MB

In [ ]:
#non should be changed