# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import the users table.

In [33]:
users = pd.read_csv("../data/users.csv")

#### 3. Rename Id column to userId.

In [34]:
users.columns = ['Unnamed: 0', 'userID', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
users.head(5)

   Unnamed: 0  userID  Reputation  Views  UpVotes  DownVotes
0           0      -1           1      0     5007       1920
1           1       2         101     25        3          0
2           2       3         101     22       19          0
3           3       4         101     11        0          0
4           4       5        6792   1145      662          5

#### 4. Import the posts table.

In [35]:
posts = pd.read_csv("../data/posts.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [36]:
posts.columns = ['Unnamed: 0', 'PostID', 'userID', 'Score', 'ViewCount', 'CommentCount']
posts.head(5)

   Unnamed: 0  PostID  userID  Score  ViewCount  CommentCount
0           0       1     8.0     23     1278.0             1
1           1       2    24.0     22     8198.0             1
2           2       3    18.0     54     3613.0             4
3           3       4    23.0     13     5224.0             2
4           4       5    23.0     81        NaN             3

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [47]:
users_sliced.head(5)

   userID  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [46]:
users_sliced = pd.DataFrame(users).drop("Unnamed: 0", axis = 1)
posts_sliced = pd.DataFrame(posts).drop("Unnamed: 0", axis = 1)
posts_sliced = posts_sliced[['PostID', 'Score', 'userID', 'ViewCount', 'CommentCount']] 
posts_sliced.head(5)

   PostID  Score  userID  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [65]:
merged = pd.merge(left = posts_sliced, right = users_sliced)

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [66]:
merged.isna().sum()

PostID              0
Score               0
userID              0
ViewCount       48396
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [69]:
merged_clean = merged.fillna(value = 0)
merged_clean.isna().sum()

PostID          0
Score           0
userID          0
ViewCount       0
CommentCount    0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
dtype: int64

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [70]:
for i in merged_clean:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>