# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
driver = 'mysql+pymysql'
ip = 'relational.fit.cvut.cz'
port='3306'
username = 'guest'
password = 'relational'
db = 'stats'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'

# Engine & Query
engine = create_engine(connection_string)
query = 'SELECT * FROM users'

#### 4. Import the users table.

In [4]:
# Database Request
users = pd.read_sql_query('SELECT * FROM stats.users;', engine)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [38]:
users=users.rename(columns={"Id": "userId"})

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM stats.posts;', engine)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [8]:
posts.rename(columns={"Id":"postId","OwnerUserId":"userId"})

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaT,NaN,NaT,None,None
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:29:33,7.0,NaT,None,None
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,None,...,NaN,4,NaN,NaN,NaT,NaT,6.0,NaT,None,None
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,None,...,NaN,1,NaN,NaN,NaT,2010-07-19 19:19:03,3.0,NaT,None,None
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,None,...,NaN,0,NaN,NaN,NaT,NaT,1.0,NaT,None,None
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,None,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaT,None,None
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaT,NaN,NaT,user28,None
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:31:32,7.0,NaT,None,None
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:45,7.0,NaT,None,None
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,None,...,NaN,2,NaN,NaN,NaT,NaT,2.0,NaT,None,None
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaT,NaN,NaT,None,None
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaT,NaN,NaT,None,None
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaT,NaT,NaN,NaT,None,None
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:26:13,3.0,NaT,None,None
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaT,None,None
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaT,NaN,NaT,None,None
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:55,7.0,NaT,None,None
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:28:12,3.0,NaT,user28,None
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,None,...,NaN,0,NaN,NaN,NaT,NaT,17.0,NaT,None,None
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18,0,NaN,"<p>First, let's try to simulate some data with...",42434.0,2014-09-13 13:15:18,None,...,NaN,0,NaN,NaN,NaT,NaT,113980.0,NaT,None,None
91947,115348,1,NaN,2014-09-13 15:17:03,0,18.0,"<p>In the game of Bridge, 52 cards are distrub...",55564.0,2014-09-13 16:25:32,Please help me interpret this goodness of fit ...,...,1.0,3,NaN,55564.0,2014-09-13 15:41:36,NaT,NaN,NaT,None,None
91948,115350,1,NaN,2014-09-13 15:26:01,0,3.0,<p>How do we specify negative costs in rpart? ...,55731.0,2014-09-13 15:26:01,Specifying negative costs (benefits) in rpart'...,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91949,115351,1,NaN,2014-09-13 15:32:18,1,9.0,<p>If one is conducting a survey in which all ...,7331.0,2014-09-13 15:43:23,Sampling frame of a voluntary survey,...,0.0,0,NaN,7290.0,2014-09-13 15:43:23,NaT,NaN,NaT,None,None
91950,115352,1,NaN,2014-09-13 15:56:55,0,16.0,"<p>For example, I was looking at <a href=""http...",55734.0,2014-09-13 16:15:30,Is there a way to estimate the distribution fr...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91951,115353,2,NaN,2014-09-13 16:15:30,0,NaN,<p>I have strong reservations about whether me...,7290.0,2014-09-13 16:15:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115352.0,NaT,None,None
91952,115354,2,NaN,2014-09-13 16:25:32,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805.0,2014-09-13 16:25:32,None,...,NaN,0,NaN,NaN,NaT,NaT,115348.0,NaT,None,None
91953,115355,1,NaN,2014-09-13 16:30:00,3,49.0,"<p>I have a methodological question, and there...",35413.0,2014-09-13 18:53:58,Adjust for everything you have in propensity s...,...,2.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91954,115356,1,NaN,2014-09-13 16:34:58,1,15.0,<p>I'm a beginner in statistics and I have to ...,55733.0,2014-09-13 20:45:45,"How to interpret glmer results (variance, corr...",...,0.0,0,NaN,55733.0,2014-09-13 20:45:45,NaT,NaN,NaT,None,None
91955,115357,2,NaN,2014-09-13 17:07:54,1,NaN,<p>I've personally been asking this question f...,44142.0,2014-09-13 17:07:54,None,...,NaN,0,NaN,NaN,NaT,NaT,115355.0,NaT,None,None
91956,115358,1,NaN,2014-09-13 17:29:23,2,15.0,<p>Are there any formulae for the quantiles of...,1569.0,2014-09-14 02:54:13,Quantiles of a compound gamma/negative binomia...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91957,115360,1,NaN,2014-09-13 18:06:50,2,40.0,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738.0,2014-09-13 18:06:50,Is Student's t test a Wald test?,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91958,115361,1,NaN,2014-09-13 18:36:36,0,12.0,"<p>Given the biometric match scores, I am requ...",55383.0,2014-09-13 18:36:36,Plotting of density estimates in matlab,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91959,115362,2,NaN,2014-09-13 18:44:31,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071.0,2014-09-13 18:53:58,None,...,NaN,0,NaN,7071.0,2014-09-13 18:53:58,NaT,115355.0,NaT,None,None
91960,115363,2,NaN,2014-09-13 19:37:20,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676.0,2014-09-13 19:37:20,None,...,NaN,0,NaN,NaN,NaT,NaT,115279.0,NaT,None,None
91961,115364,1,NaN,2014-09-13 19:50:17,0,11.0,<p>I'm trying to find the most similar sample ...,52858.0,2014-09-13 21:30:41,In search of a proper similarity function,...,0.0,3,NaN,52858.0,2014-09-13 21:30:41,NaT,NaN,NaT,None,None
91962,115365,2,NaN,2014-09-13 20:13:11,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236.0,2014-09-13 20:13:11,None,...,NaN,1,NaN,NaN,NaT,NaT,108430.0,NaT,None,None
91963,115366,1,NaN,2014-09-13 20:36:55,1,17.0,<p>Does any standard statistical software like...,55742.0,2014-09-13 23:18:30,Missing data analysis software,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
91964,115367,1,NaN,2014-09-13 20:57:24,1,97.0,<p>Jon and Frank ordered 2 footlong sandwiches...,41961.0,2014-09-14 02:05:41,How to add odds? (or how I got the wrong sandw...,...,3.0,0,NaN,919.0,2014-09-13 21:11:36,NaT,NaN,NaT,None,None
91965,115368,2,NaN,2014-09-13 21:01:39,4,NaN,<p>You need to multiply the probabilities with...,24808.0,2014-09-13 21:01:39,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91966,115369,2,NaN,2014-09-13 21:27:49,4,NaN,<p>Line up the four sandwiches in a row where ...,6633.0,2014-09-13 21:27:49,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91967,115370,1,NaN,2014-09-13 21:39:30,1,13.0,<p>im analyzing an article for my studies with...,55744.0,2014-09-13 21:39:30,Poisson regression,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91968,115371,1,NaN,2014-09-13 21:55:39,0,19.0,<p>I am trying to estimate the school effects ...,35801.0,2014-09-13 23:15:00,Estimation of school effects using xtmixed (in...,...,1.0,0,NaN,35801.0,2014-09-13 22:51:35,NaT,NaN,NaT,None,None
91969,115372,2,NaN,2014-09-13 23:15:00,0,NaN,<p>If prior to running the xtreg command you h...,48579.0,2014-09-13 23:15:00,None,...,NaN,9,NaN,NaN,NaT,NaT,115371.0,NaT,None,None
91970,115373,2,NaN,2014-09-13 23:18:30,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579.0,2014-09-13 23:18:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115366.0,NaT,None,None
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [44]:
#users_2=posts.filter(["userId", "Reputation", "Views", "UpVotes", "DownVotes"], axis=1)
users_2 = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]].copy()

In [26]:
posts_2=posts.filter(["postId", "Score", "userId", "ViewCount", "CommentCount"], axis=1)

In [27]:
posts_2

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
5           6    152      5.0    29229.0             5
6           7     76     38.0     5808.0             3
7           8      0     37.0      288.0             2
8           9     13     50.0        NaN             3
9          10     23     24.0    21925.0             4
10         11      2     34.0      224.0             2
11         12     20      5.0        NaN             1
12         13     14     23.0        NaN             4
13         14      5     36.0        NaN             1
14         15     13      6.0        NaN             0
15         16     16      8.0        NaN             3
16         17      9      NaN     1261.0             0
17         18     31     36.0        NaN             1
18         19     12     55.0        NaN             0
19         20      3     37.0        NaN             2
20         21      4     59.0      184.0             1
21         22    102     66.0    21916.0             1
22         23     10     69.0     7694.0             1
23         24     17     61.0        NaN             0
24         25      7     69.0     2095.0             4
25         26     18     75.0     3476.0            14
26         27      4     68.0        NaN             0
27         28      6      NaN        NaN             0
28         29      5     36.0        NaN             0
29         30      7     69.0      705.0             2
...       ...    ...      ...        ...           ...
91946  115346      0  42434.0        NaN             0
91947  115348      0  55564.0       18.0             3
91948  115350      0  55731.0        3.0             0
91949  115351      1   7331.0        9.0             0
91950  115352      0  55734.0       16.0             0
91951  115353      0   7290.0        NaN             0
91952  115354      2    805.0        NaN             0
91953  115355      3  35413.0       49.0             0
91954  115356      1  55733.0       15.0             0
91955  115357      1  44142.0        NaN             0
91956  115358      2   1569.0       15.0             0
91957  115360      2  55738.0       40.0             4
91958  115361      0  55383.0       12.0             1
91959  115362      2   7071.0        NaN             0
91960  115363      0   2676.0        NaN             0
91961  115364      0  52858.0       11.0             3
91962  115365     -1  28236.0        NaN             1
91963  115366      1  55742.0       17.0             0
91964  115367      1  41961.0       97.0             0
91965  115368      4  24808.0        NaN             0
91966  115369      4   6633.0        NaN             0
91967  115370      1  55744.0       13.0             2
91968  115371      0  35801.0       19.0             0
91969  115372      0  48579.0        NaN             9
91970  115373      0  48579.0        NaN             0
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

In [45]:
users_2

        userId  Reputation  Views  UpVotes  DownVotes
userId
0           -1           1      0     5007       1920
1            2         101     25        3          0
2            3         101     22       19          0
3            4         101     11        0          0
4            5        6792   1145      662          5
5            6         457    114       47          0
6            7         429     56       20          0
7            8        6764   1089      604         25
8           10         121     20        2          0
9           11         136     10       10          0
10          12         101     10        5          0
11          13         817    178       44          1
12          15          11      8        0          0
13          16         101      4        7          0
14          17         345     14       13          1
15          18         128      8       16          0
16          19         101     13        2          0
17          21         101      6        0          0
18          22         591     90      693          6
19          23         308     52       34          1
20          24         344     48       36          1
21          25        4968    641      328         23
22          26        3150    257      138          7
23          27         101     10        2          0
24          29        2250    318       28          1
25          30        2185    312       40          3
26          33         221     11        2          0
27          34         185     27       23          0
28          35         101      4        9          0
29          36        1570    173       26          1
...        ...         ...    ...      ...        ...
40295    55718           6      0        0          0
40296    55719           1      1        0          0
40297    55720           1      0        0          0
40298    55721         101      0        1          0
40299    55722           1      0        0          0
40300    55723           1      0        0          0
40301    55724          16      1        0          0
40302    55725           1      0        0          0
40303    55726           1      0        0          0
40304    55727           1      0        0          0
40305    55728           1      0        0          0
40306    55729          16      1        0          0
40307    55730           1      0        0          0
40308    55731           1      0        0          0
40309    55732         101      0        0          0
40310    55733           6      1        0          0
40311    55734           1      0        0          0
40312    55735           1      0        0          0
40313    55736           1      0        0          0
40314    55737           1      0        0          0
40315    55738          11      0        0          0
40316    55739           1      0        0          0
40317    55740           1      0        0          0
40318    55741         101      0        1          0
40319    55742           6      0        0          0
40320    55743           1      0        0          0
40321    55744           6      1        0          0
40322    55745         101      0        0          0
40323    55746         106      1        0          0
40324    55747           1      0        0          0

[40325 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [15]:
posts_2.shape

(91976, 4)

In [16]:
users_2.shape

(40325, 4)

In [47]:
merged_db=users_2.merge(posts_2,how="outer")

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [53]:
merged_db.isnull().sum()

userId           1392
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
postId          18342
Score           18342
ViewCount       67397
CommentCount    18342
dtype: int64

In [57]:
# In order to get the total summation of all missing values in the DataFrame, we chain two .sum() methods together

merged_db.isnull().sum().sum()

129383

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

I will create a new dataset where I drop the rows with missing values

In [59]:
merged_db_no_nan= merged_db.dropna()

In [60]:
merged_db

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,2175.0,0.0,NaN,0.0
1,-1.0,1.0,0.0,5007.0,1920.0,8576.0,0.0,NaN,0.0
2,-1.0,1.0,0.0,5007.0,1920.0,8578.0,0.0,NaN,0.0
3,-1.0,1.0,0.0,5007.0,1920.0,8981.0,0.0,NaN,0.0
4,-1.0,1.0,0.0,5007.0,1920.0,8982.0,0.0,NaN,0.0
5,-1.0,1.0,0.0,5007.0,1920.0,9857.0,0.0,NaN,0.0
6,-1.0,1.0,0.0,5007.0,1920.0,9858.0,0.0,NaN,0.0
7,-1.0,1.0,0.0,5007.0,1920.0,9860.0,0.0,NaN,0.0
8,-1.0,1.0,0.0,5007.0,1920.0,10130.0,0.0,NaN,0.0
9,-1.0,1.0,0.0,5007.0,1920.0,10131.0,0.0,NaN,0.0
10,-1.0,1.0,0.0,5007.0,1920.0,15331.0,0.0,NaN,0.0
11,-1.0,1.0,0.0,5007.0,1920.0,15332.0,0.0,NaN,0.0
12,-1.0,1.0,0.0,5007.0,1920.0,16296.0,0.0,NaN,0.0
13,-1.0,1.0,0.0,5007.0,1920.0,16366.0,0.0,NaN,0.0
14,-1.0,1.0,0.0,5007.0,1920.0,19423.0,0.0,NaN,0.0
15,-1.0,1.0,0.0,5007.0,1920.0,19848.0,0.0,NaN,0.0
16,-1.0,1.0,0.0,5007.0,1920.0,20259.0,0.0,NaN,0.0
17,-1.0,1.0,0.0,5007.0,1920.0,20261.0,0.0,NaN,0.0
18,-1.0,1.0,0.0,5007.0,1920.0,20262.0,0.0,NaN,0.0
19,-1.0,1.0,0.0,5007.0,1920.0,20263.0,0.0,NaN,0.0
20,-1.0,1.0,0.0,5007.0,1920.0,20264.0,0.0,NaN,0.0
21,-1.0,1.0,0.0,5007.0,1920.0,20485.0,0.0,NaN,0.0
22,-1.0,1.0,0.0,5007.0,1920.0,20487.0,0.0,NaN,0.0
23,-1.0,1.0,0.0,5007.0,1920.0,20489.0,0.0,NaN,0.0
24,-1.0,1.0,0.0,5007.0,1920.0,20490.0,0.0,NaN,0.0
25,-1.0,1.0,0.0,5007.0,1920.0,21497.0,0.0,NaN,0.0
26,-1.0,1.0,0.0,5007.0,1920.0,21795.0,0.0,NaN,0.0
27,-1.0,1.0,0.0,5007.0,1920.0,21856.0,0.0,NaN,0.0
28,-1.0,1.0,0.0,5007.0,1920.0,21860.0,0.0,NaN,0.0
29,-1.0,1.0,0.0,5007.0,1920.0,21861.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...
110288,NaN,NaN,NaN,NaN,NaN,110734.0,0.0,NaN,0.0
110289,NaN,NaN,NaN,NaN,NaN,111058.0,1.0,61.0,1.0
110290,NaN,NaN,NaN,NaN,NaN,111163.0,2.0,33.0,2.0
110291,NaN,NaN,NaN,NaN,NaN,111694.0,0.0,34.0,0.0
110292,NaN,NaN,NaN,NaN,NaN,111774.0,0.0,10.0,0.0
110293,NaN,NaN,NaN,NaN,NaN,112182.0,1.0,20.0,2.0
110294,NaN,NaN,NaN,NaN,NaN,112204.0,0.0,15.0,1.0
110295,NaN,NaN,NaN,NaN,NaN,112206.0,3.0,60.0,3.0
110296,NaN,NaN,NaN,NaN,NaN,112264.0,1.0,35.0,4.0
110297,NaN,NaN,NaN,NaN,NaN,112265.0,1.0,NaN,3.0
110298,NaN,NaN,NaN,NaN,NaN,112268.0,0.0,31.0,1.0
110299,NaN,NaN,NaN,NaN,NaN,112421.0,0.0,19.0,1.0
110300,NaN,NaN,NaN,NaN,NaN,112657.0,1.0,29.0,4.0
110301,NaN,NaN,NaN,NaN,NaN,112749.0,1.0,33.0,1.0
110302,NaN,NaN,NaN,NaN,NaN,112865.0,0.0,10.0,1.0
110303,NaN,NaN,NaN,NaN,NaN,113251.0,0.0,43.0,1.0
110304,NaN,NaN,NaN,NaN,NaN,113253.0,1.0,21.0,0.0
110305,NaN,NaN,NaN,NaN,NaN,113309.0,0.0,15.0,1.0
110306,NaN,NaN,NaN,NaN,NaN,113483.0,0.0,20.0,0.0
110307,NaN,NaN,NaN,NaN,NaN,113502.0,0.0,22.0,4.0
110308,NaN,NaN,NaN,NaN,NaN,113693.0,-2.0,NaN,1.0
110309,NaN,NaN,NaN,NaN,NaN,113835.0,1.0,19.0,0.0
110310,NaN,NaN,NaN,NaN,NaN,113998.0,-1.0,41.0,1.0
110311,NaN,NaN,NaN,NaN,NaN,114018.0,0.0,11.0,3.0
110312,NaN,NaN,NaN,NaN,NaN,114675.0,1.0,14.0,2.0
110313,NaN,NaN,NaN,NaN,NaN,114678.0,0.0,20.0,2.0
110314,NaN,NaN,NaN,NaN,NaN,114812.0,0.0,16.0,1.0
110315,NaN,NaN,NaN,NaN,NaN,114815.0,1.0,14.0,5.0
110316,NaN,NaN,NaN,NaN,NaN,115225.0,0.0,8.0,0.0
110317,NaN,NaN,NaN,NaN,NaN,115271.0,0.0,9.0,2.0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?