# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
#skip

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
#skip

#### 4. Import the users table.

In [4]:
users = pd.read_csv('users.csv')

#### 5. Rename Id column to userId.

In [5]:
users.rename(columns={'userId':'Id'}, inplace=True)
users

       Unnamed: 0     Id  Reputation  Views  UpVotes  DownVotes
0               0     -1           1      0     5007       1920
1               1      2         101     25        3          0
2               2      3         101     22       19          0
3               3      4         101     11        0          0
4               4      5        6792   1145      662          5
...           ...    ...         ...    ...      ...        ...
40320       40320  55743           1      0        0          0
40321       40321  55744           6      1        0          0
40322       40322  55745         101      0        0          0
40323       40323  55746         106      1        0          0
40324       40324  55747           1      0        0          0

[40325 rows x 6 columns]

#### 6. Import the posts table.

In [6]:
posts = pd.read_csv('posts.csv')

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [7]:
posts.rename(columns={'PostId':'Id','userId':'OwnerUserId'}, inplace=True)
posts

       Unnamed: 0      Id  OwnerUserId  Score  ViewCount  CommentCount
0               0       1          8.0     23     1278.0             1
1               1       2         24.0     22     8198.0             1
2               2       3         18.0     54     3613.0             4
3               3       4         23.0     13     5224.0             2
4               4       5         23.0     81        NaN             3
...           ...     ...          ...    ...        ...           ...
91971       91971  115374        805.0      2        NaN             2
91972       91972  115375      49365.0      0        9.0             0
91973       91973  115376      55746.0      1        5.0             2
91974       91974  115377        805.0      0        NaN             0
91975       91975  115378       7250.0      0        NaN             0

[91976 rows x 6 columns]

#### 8. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [8]:
users_sliced=users[['Id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_sliced=posts[['Id', 'Score', 'OwnerUserId', 'ViewCount', 'CommentCount']]

In [9]:
users_sliced

          Id  Reputation  Views  UpVotes  DownVotes
0         -1           1      0     5007       1920
1          2         101     25        3          0
2          3         101     22       19          0
3          4         101     11        0          0
4          5        6792   1145      662          5
...      ...         ...    ...      ...        ...
40320  55743           1      0        0          0
40321  55744           6      1        0          0
40322  55745         101      0        0          0
40323  55746         106      1        0          0
40324  55747           1      0        0          0

[40325 rows x 5 columns]

In [10]:
posts_sliced

           Id  Score  OwnerUserId  ViewCount  CommentCount
0           1     23          8.0     1278.0             1
1           2     22         24.0     8198.0             1
2           3     54         18.0     3613.0             4
3           4     13         23.0     5224.0             2
4           5     81         23.0        NaN             3
...       ...    ...          ...        ...           ...
91971  115374      2        805.0        NaN             2
91972  115375      0      49365.0        9.0             0
91973  115376      1      55746.0        5.0             2
91974  115377      0        805.0        NaN             0
91975  115378      0       7250.0        NaN             0

[91976 rows x 5 columns]

#### 9. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
merged=pd.merge(left= posts_sliced, right= users_sliced, how= 'inner', on = 'Id')
merged

,Id,Score,OwnerUserId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,2,22,24.0,8198.0,1,101,25,3,0
1,3,54,18.0,3613.0,4,101,22,19,0
2,4,13,23.0,5224.0,2,101,11,0,0
3,5,81,23.0,NaN,3,6792,1145,662,5
4,6,152,5.0,29229.0,5,457,114,47,0
...,...,...,...,...,...,...,...,...,...
32052,55743,0,24164.0,NaN,1,1,0,0,0
32053,55744,1,10961.0,NaN,7,6,1,0,0
32054,55745,3,4598.0,NaN,2,101,0,0,0
32055,55746,3,20315.0,59.0,0,106,1,0,0
32056,55747,0,10619.0,NaN,1,1,0,0,0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [12]:
merged.isnull().sum()

Id                  0
Score               0
OwnerUserId       772
ViewCount       19011
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

In [13]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32057 entries, 0 to 32056
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            32057 non-null  int64
 1   Score         32057 non-null  int64
 2   OwnerUserId   31285 non-null  float64
 3   ViewCount     13046 non-null  float64
 4   CommentCount  32057 non-null  int64
 5   Reputation    32057 non-null  int64
 6   Views         32057 non-null  int64
 7   UpVotes       32057 non-null  int64
 8   DownVotes     32057 non-null  int64
dtypes: float64(2), int64(7)
memory usage: 2.4 MB

In [14]:
merged.describe()

,Id,Score,OwnerUserId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
count,32057.000000,32057.000000,31285.000000,13046.000000,32057.000000,32057.000000,32057.000000,32057.000000,32057.000000
mean,25849.602521,3.872446,6919.806041,1141.237621,1.993231,92.393487,10.162804,7.443990,0.238045
std,16121.814513,6.330174,6179.263559,3638.991475,2.676007,873.063852,171.205030,145.805713,6.262672
min,2.000000,-13.000000,-1.000000,14.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,11377.000000,1.000000,1496.000000,156.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,25194.000000,2.000000,5372.000000,350.000000,1.000000,13.000000,1.000000,0.000000,0.000000
75%,40885.000000,5.000000,10950.000000,901.000000,3.000000,101.000000,3.000000,0.000000,0.000000
max,55747.000000,192.000000,55226.000000,143055.000000,45.000000,87393.000000,20932.000000,11442.000000,779.000000

In [15]:
merged.corr()

,Id,Score,OwnerUserId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
Id,1.000000,-0.220850,0.676626,-0.178081,0.003376,-0.084572,-0.062349,-0.053500,-0.037972
Score,-0.220850,1.000000,-0.198047,0.506356,0.154388,0.021241,0.015004,0.015072,0.006775
OwnerUserId,0.676626,-0.198047,1.000000,-0.140597,0.002871,-0.060671,-0.041459,-0.035498,-0.025132
ViewCount,-0.178081,0.506356,-0.140597,1.000000,0.035628,0.013070,0.012124,0.012343,0.007321
CommentCount,0.003376,0.154388,0.002871,0.035628,1.000000,-0.006874,-0.009010,-0.006482,-0.005125
Reputation,-0.084572,0.021241,-0.060671,0.013070,-0.006874,1.000000,0.898756,0.741451,0.737364
Views,-0.062349,0.015004,-0.041459,0.012124,-0.009010,0.898756,1.000000,0.691432,0.803140
UpVotes,-0.053500,0.015072,-0.035498,0.012343,-0.006482,0.741451,0.691432,1.000000,0.678470
DownVotes,-0.037972,0.006775,-0.025132,0.007321,-0.005125,0.737364,0.803140,0.678470,1.000000

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [16]:
merged.drop(columns='ViewCount', inplace=True)
merged

,Id,Score,OwnerUserId,CommentCount,Reputation,Views,UpVotes,DownVotes
0,2,22,24.0,1,101,25,3,0
1,3,54,18.0,4,101,22,19,0
2,4,13,23.0,2,101,11,0,0
3,5,81,23.0,3,6792,1145,662,5
4,6,152,5.0,5,457,114,47,0
...,...,...,...,...,...,...,...,...
32052,55743,0,24164.0,1,1,0,0,0
32053,55744,1,10961.0,7,6,1,0,0
32054,55745,3,4598.0,2,101,0,0,0
32055,55746,3,20315.0,0,106,1,0,0
32056,55747,0,10619.0,1,1,0,0,0

In [17]:
merged.dropna(axis=0, inplace=True)

In [18]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31285 entries, 0 to 32056
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            31285 non-null  int64
 1   Score         31285 non-null  int64
 2   OwnerUserId   31285 non-null  float64
 3   CommentCount  31285 non-null  int64
 4   Reputation    31285 non-null  int64
 5   Views         31285 non-null  int64
 6   UpVotes       31285 non-null  int64
 7   DownVotes     31285 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 2.1 MB

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [26]:
merged.astype({'OwnerUserId': 'int32'}).dtypes

Id              int64
Score           int64
OwnerUserId     int32
CommentCount    int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
dtype: object

In [29]:
merged2=merged.astype({'OwnerUserId': 'int32'})

In [30]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31285 entries, 0 to 32056
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            31285 non-null  int64
 1   Score         31285 non-null  int64
 2   OwnerUserId   31285 non-null  int32
 3   CommentCount  31285 non-null  int64
 4   Reputation    31285 non-null  int64
 5   Views         31285 non-null  int64
 6   UpVotes       31285 non-null  int64
 7   DownVotes     31285 non-null  int64
dtypes: int32(1), int64(7)
memory usage: 2.0 MB

In [31]:
# merged["OwnerUserId"] = pd.to_numeric(merged["OwnerUserId"])