# Data Cleaning 

#### 1. Import pandas library.

In [7]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [ ]:
#skip

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [ ]:
#skip

#### 4. Import the users table.

In [8]:
users = pd.read_csv('users.csv')

#### 5. Rename Id column to userId.

In [9]:
users.rename(columns={'postId':'userId'}, inplace=True)
users.head()

   Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0           0      -1           1      0     5007       1920
1           1       2         101     25        3          0
2           2       3         101     22       19          0
3           3       4         101     11        0          0
4           4       5        6792   1145      662          5

#### 6. Import the posts table.

In [10]:
posts = pd.read_csv('posts.csv')

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [11]:
posts.rename(columns={'userId':'postId', 'PostId':'userId'}, inplace=True)
posts.head()

   Unnamed: 0  userId  postId  Score  ViewCount  CommentCount
0           0       1     8.0     23     1278.0             1
1           1       2    24.0     22     8198.0             1
2           2       3    18.0     54     3613.0             4
3           3       4    23.0     13     5224.0             2
4           4       5    23.0     81        NaN             3

#### 8. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [12]:
column_order_users = ['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
users_sliced = users[column_order_users]
users_sliced

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [13]:
column_order_posts = ['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']
posts_sliced = posts[column_order_posts]
posts_sliced

        postId  Score  userId  ViewCount  CommentCount
0          8.0     23       1     1278.0             1
1         24.0     22       2     8198.0             1
2         18.0     54       3     3613.0             4
3         23.0     13       4     5224.0             2
4         23.0     81       5        NaN             3
...        ...    ...     ...        ...           ...
91971    805.0      2  115374        NaN             2
91972  49365.0      0  115375        9.0             0
91973  55746.0      1  115376        5.0             2
91974    805.0      0  115377        NaN             0
91975   7250.0      0  115378        NaN             0

[91976 rows x 5 columns]

#### 9. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [14]:
merged_df = pd.merge(left= posts_sliced, right= users_sliced, how= 'inner', on = 'userId')
merged_df

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,24.0,22,2,8198.0,1,101,25,3,0
1,18.0,54,3,3613.0,4,101,22,19,0
2,23.0,13,4,5224.0,2,101,11,0,0
3,23.0,81,5,NaN,3,6792,1145,662,5
4,5.0,152,6,29229.0,5,457,114,47,0
...,...,...,...,...,...,...,...,...,...
32052,24164.0,0,55743,NaN,1,1,0,0,0
32053,10961.0,1,55744,NaN,7,6,1,0,0
32054,4598.0,3,55745,NaN,2,101,0,0,0
32055,20315.0,3,55746,59.0,0,106,1,0,0
32056,10619.0,0,55747,NaN,1,1,0,0,0

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [17]:
missing_values = merged_df.isnull()
missing_values

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
32052,False,False,False,True,False,False,False,False,False
32053,False,False,False,True,False,False,False,False,False
32054,False,False,False,True,False,False,False,False,False
32055,False,False,False,False,False,False,False,False,False
32056,False,False,False,True,False,False,False,False,False

In [20]:
merged_df.isnull().sum()

postId            772
Score               0
userId              0
ViewCount       19011
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [18]:
merged_df.corr()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
postId,1.000000,-0.198047,0.676626,-0.140597,0.002871,-0.060671,-0.041459,-0.035498,-0.025132
Score,-0.198047,1.000000,-0.220850,0.506356,0.154388,0.021241,0.015004,0.015072,0.006775
userId,0.676626,-0.220850,1.000000,-0.178081,0.003376,-0.084572,-0.062349,-0.053500,-0.037972
ViewCount,-0.140597,0.506356,-0.178081,1.000000,0.035628,0.013070,0.012124,0.012343,0.007321
CommentCount,0.002871,0.154388,0.003376,0.035628,1.000000,-0.006874,-0.009010,-0.006482,-0.005125
Reputation,-0.060671,0.021241,-0.084572,0.013070,-0.006874,1.000000,0.898756,0.741451,0.737364
Views,-0.041459,0.015004,-0.062349,0.012124,-0.009010,0.898756,1.000000,0.691432,0.803140
UpVotes,-0.035498,0.015072,-0.053500,0.012343,-0.006482,0.741451,0.691432,1.000000,0.678470
DownVotes,-0.025132,0.006775,-0.037972,0.007321,-0.005125,0.737364,0.803140,0.678470,1.000000

In [23]:
# Total rows are 32057. 
# Viewcount has 19011 NAs, which is more than half of the data. 
# There is not enough data to set a meaningful average value to fill in the NAs.
# Since the highest correlation (with score) is also not very high, I drop the NAs
merged_df = merged_df.dropna()

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [25]:
merged_df.ViewCount = merged_df.ViewCount.astype(int)