# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import the users table.

In [24]:
users_t = pd.read_csv("../data/users.csv")
users_t

       Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0               0      -1           1      0     5007       1920
1               1       2         101     25        3          0
2               2       3         101     22       19          0
3               3       4         101     11        0          0
4               4       5        6792   1145      662          5
...           ...     ...         ...    ...      ...        ...
40320       40320   55743           1      0        0          0
40321       40321   55744           6      1        0          0
40322       40322   55745         101      0        0          0
40323       40323   55746         106      1        0          0
40324       40324   55747           1      0        0          0

[40325 rows x 6 columns]

#### 3. Rename Id column to userId.

#### 4. Import the posts table.

In [23]:
posts_t = pd.read_csv("../data/posts.csv")
posts_t

       Unnamed: 0  PostId   userId  Score  ViewCount  CommentCount
0               0       1      8.0     23     1278.0             1
1               1       2     24.0     22     8198.0             1
2               2       3     18.0     54     3613.0             4
3               3       4     23.0     13     5224.0             2
4               4       5     23.0     81        NaN             3
...           ...     ...      ...    ...        ...           ...
91971       91971  115374    805.0      2        NaN             2
91972       91972  115375  49365.0      0        9.0             0
91973       91973  115376  55746.0      1        5.0             2
91974       91974  115377    805.0      0        NaN             0
91975       91975  115378   7250.0      0        NaN             0

[91976 rows x 6 columns]

#### 5. Rename Id column to postId and OwnerUserId to userId.

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [12]:
users_sliced = users_t[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
users_sliced.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [13]:
posts_sliced = posts_t[["PostId", "Score", "userId", "ViewCount", "CommentCount"]]
posts_sliced.head()

   PostId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [26]:
users_posts_merge = users_sliced.merge(posts_sliced, how = 'left', on = "userId")
users_posts_merge

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...
108921,55743,1,0,0,0,NaN,NaN,NaN,NaN
108922,55744,6,1,0,0,115370.0,1.0,13.0,2.0
108923,55745,101,0,0,0,NaN,NaN,NaN,NaN
108924,55746,106,1,0,0,115376.0,1.0,5.0,2.0
108925,55747,1,0,0,0,NaN,NaN,NaN,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [27]:
# https://towardsdatascience.com/how-to-check-for-missing-values-in-pandas-d2749e45a345
users_posts_merge.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
PostId          18342
Score           18342
ViewCount       66738
CommentCount    18342
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

# As there is no information about what viewcounts stores, we have to make assumptions and thend decide.

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [28]:
# helpful: Funktionen to_numeric, to_date
# https://datatofish.com/data-type-pandas-dataframe/

users_posts_merge.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
PostId          float64
Score           float64
ViewCount       float64
CommentCount    float64
dtype: object

In [30]:
# all the count data should be integers
# https://www.geeksforgeeks.org/python-pandas-to_numeric-method/#:~:text=to_numeric()%20is%20one%20of,argument%20to%20a%20numeric%20type.&text=Returns%3A%20numeric%20if%20parsing%20succeeded,return%20type%20depends%20on%20input.

Post_id_c = pd.Series(users_posts_merge['PostId'])
pd.to_numeric(Post_id_c, downcast ='signed')

0           2175.0
1           8576.0
2           8578.0
3           8981.0
4           8982.0
            ...
108921         NaN
108922    115370.0
108923         NaN
108924    115376.0
108925         NaN
Name: PostId, Length: 108926, dtype: float64

In [31]:
users_posts_merge.dtypes

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
PostId          float64
Score           float64
ViewCount       float64
CommentCount    float64
dtype: object