# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
from sqlalchemy import create_engine
import pymysql

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
driver = 'mysql+pymysql'
user = 'guest'
password = 'relational'
ip = 'relational.fit.cvut.cz:3306'
connection_string = f'{driver}://{user}:{password}@{ip}'
db_connection = create_engine(connection_string)

#### 4. Import the users table.

In [4]:
df = pd.read_sql_query("SELECT * FROM stats.users", db_connection)
df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [5]:
df = df.rename(columns={'Id':'userId'})
df.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [6]:
postsDf = pd.read_sql_query("SELECT * FROM stats.posts", db_connection)
postsDf.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [7]:
postsDf = postsDf.rename(columns={'Id':'postId','OwnerUserId':'userId'})
postsDf.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [8]:
userSliceDf = df[['userId','Reputation','Views','UpVotes','DownVotes']]
print(userSliceDf.tail())
postSliceDf = postsDf[['postId','Score','userId','ViewCount','CommentCount']]
postSliceDf.tail()

       userId  Reputation  Views  UpVotes  DownVotes
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

       postId  Score   userId  ViewCount  CommentCount
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

#### 9. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
# The relation between tables is one user many posts
# Different types of merge can be done !!!
# Suppose I keep all the posts that actually have user information (inner join)
# Posts without user or users without posts will be neglected
# ask pandas to validate the relation many posts one user
mergeDf = postSliceDf.merge(userSliceDf,on='userId',validate="m:1")
mergeDf.head()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,6764,1089,604,25
1,16,16,8.0,NaN,3,6764,1089,604,25
2,36,41,8.0,67396.0,7,6764,1089,604,25
3,65,14,8.0,NaN,3,6764,1089,604,25
4,78,33,8.0,NaN,4,6764,1089,604,25

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
# Functions returning booleans --> isna() and notna()
# This question actually depends on the type of merge done above !!!
countList = mergeDf.isna().sum()
print("Counted missing values per column printed below:\n")
print(countList)

Counted missing values per column printed below:

postId              0
Score               0
userId              0
ViewCount       48396
CommentCount        0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [11]:
# This question actually depends on the merge done above and what do we want for the future
# We could assume that NaN values in ViewCount are posts without views
# Therefor filling NaN with zeros in ViewCount would make sense
mergeDf = mergeDf.fillna({'ViewCount':0})
mergeDf.head()

,postId,Score,userId,ViewCount,CommentCount,Reputation,Views,UpVotes,DownVotes
0,1,23,8.0,1278.0,1,6764,1089,604,25
1,16,16,8.0,0.0,3,6764,1089,604,25
2,36,41,8.0,67396.0,7,6764,1089,604,25
3,65,14,8.0,0.0,3,6764,1089,604,25
4,78,33,8.0,0.0,4,6764,1089,604,25

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:
# check data types in mergeDf
print("Data types in merged Data Frame:\n")
print(mergeDf.dtypes)
print("\nI would transform the userId and ViewCount into integer to reduce memory.")

mergeDf = mergeDf.astype({'userId':'Int64','ViewCount':'Int64'})
print("Data types modified in merged Data Frame:\n")
print(mergeDf.dtypes)

Data types in merged Data Frame:

postId            int64
Score             int64
userId          float64
ViewCount       float64
CommentCount      int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
dtype: object

I would transform the userId and ViewCount into integer to reduce memory.
Data types modified in merged Data Frame:

postId          int64
Score           int64
userId          Int64
ViewCount       Int64
CommentCount    int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
dtype: object

In [ ]:
# check the Int64 properties!
# Int64 transforms NaN into NA while keeping same results in function isna() and mean()
# However, NOTE that operating with Int64 doesn't give same values that with float!

# aSeries = mergeDf['ViewCount']
# print(aSeries.head())
# print(aSeries.isna().head())
# print(aSeries.dtypes)
# print(aSeries.sum())
# aSeries = aSeries.astype('Int64').head()
# print(aSeries)
# print(aSeries.isna().head())
# print(aSeries.dtypes)
# print(aSeries.sum())

#print("\nBy default the NaN values are stored as floats.\nHowever, after filling \
#NaN with zeros in 'ViewCount' we could change this type into integer as well!\n")