# Data Cleaning 

#### 1. Import pandas library.

In [ ]:
import pandas as pd
import sys
sys.executable

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [3]:
driver = 'mysql+pymysql:'
user= 'guest'
password = 'relational'
ip= 'relational.fit.cvut.cz'
port= 3306
database='stats'

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

query = """
       SELECT * FROM users
"""

#users_table = pd.read_sql(query, engine)
#users_table.head()

#### 4. Import the users table.

In [4]:
users_table = pd.read_sql(query, engine)
users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId.

In [12]:
users_table = users_table.rename(columns = {"Id":"userId"})

#### 6. Import the posts table.

In [13]:
query = """
SELECT *
FROM posts
"""

posts_table = pd.read_sql(query, engine)
posts_table.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [14]:
posts_table = posts_table.rename(columns = {"Id":"postId","OwnerUserId":"userId"})

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [18]:
new_users_table = users_table[['userId','Reputation','Views','UpVotes','DownVotes']]
new_posts_table = posts_table[['postId','Score','userId','ViewCount','CommentCount']]
print(new_users_table)
print(new_posts_table)

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
5           6         457    114       47          0
6           7         429     56       20          0
7           8        6764   1089      604         25
8          10         121     20        2          0
9          11         136     10       10          0
10         12         101     10        5          0
11         13         817    178       44          1
12         15          11      8        0          0
13         16         101      4        7          0
14         17         345     14       13          1
15         18         128      8       16          0
16         19         101     13        2          0
17         21         101      6        0          0
18         22         591     90      693          6
19         23         308     52       34          1
20         24         344     48       36          1
21         25        4968    641      328         23
22         26        3150    257      138          7
23         27         101     10        2          0
24         29        2250    318       28          1
25         30        2185    312       40          3
26         33         221     11        2          0
27         34         185     27       23          0
28         35         101      4        9          0
29         36        1570    173       26          1
...       ...         ...    ...      ...        ...
40295   55718           6      0        0          0
40296   55719           1      1        0          0
40297   55720           1      0        0          0
40298   55721         101      0        1          0
40299   55722           1      0        0          0
40300   55723           1      0        0          0
40301   55724          16      1        0          0
40302   55725           1      0        0          0
40303   55726           1      0        0          0
40304   55727           1      0        0          0
40305   55728           1      0        0          0
40306   55729          16      1        0          0
40307   55730           1      0        0          0
40308   55731           1      0        0          0
40309   55732         101      0        0          0
40310   55733           6      1        0          0
40311   55734           1      0        0          0
40312   55735           1      0        0          0
40313   55736           1      0        0          0
40314   55737           1      0        0          0
40315   55738          11      0        0          0
40316   55739           1      0        0          0
40317   55740           1      0        0          0
40318   55741         101      0        1          0
40319   55742           6      0        0          0
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]
       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
5           6    152      5.0    29229.0             5
6           7     76     38.0     5808.0             3
7           8      0     37.0      288.0             2
8           9     13     50.0        NaN             3
9          10     23     24.0    21925.0             4
10         11      2     34.0      224.0             2
11         12     20      5.0        NaN             1
12         13     14     23.0        NaN             4
13         14      5     36.0        NaN             1
14         15     13      6.0        NaN             0
15         16     16      8.0        NaN             3
16         17      9      NaN     1261.0             0
17         18     31     36.0        NaN             1
18         19     12     55.0        NaN             0
19         20      3     37.0        NaN             2
20         21      4     59.0      184.0             1
21         22    102     66.0    21916.0             1
22         23     10     69.0     7694.0             1
23         24     17     61.0        NaN             0
24         25      7     69.0     2095.0             4
25         26     18     75.0     3476.0            14
26         27      4     68.0        NaN             0
27         28      6      NaN        NaN             0
28         29      5     36.0        NaN             0
29         30      7     69.0      705.0             2
...       ...    ...      ...        ...           ...
91946  115346      0  42434.0        NaN             0
91947  115348      0  55564.0       18.0             3
91948  115350      0  55731.0        3.0             0
91949  115351      1   7331.0        9.0             0
91950  115352      0  55734.0       16.0             0
91951  115353      0   7290.0        NaN             0
91952  115354      2    805.0        NaN             0
91953  115355      3  35413.0       49.0             0
91954  115356      1  55733.0       15.0             0
91955  115357      1  44142.0        NaN             0
91956  115358      2   1569.0       15.0             0
91957  115360      2  55738.0       40.0             4
91958  115361      0  55383.0       12.0             1
91959  115362      2   7071.0        NaN             0
91960  115363      0   2676.0        NaN             0
91961  115364      0  52858.0       11.0             3
91962  115365     -1  28236.0        NaN             1
91963  115366      1  55742.0       17.0             0
91964  115367      1  41961.0       97.0             0
91965  115368      4  24808.0        NaN             0
91966  115369      4   6633.0        NaN             0
91967  115370      1  55744.0       13.0             2
91968  115371      0  35801.0       19.0             0
91969  115372      0  48579.0        NaN             9
91970  115373      0  48579.0        NaN             0
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [21]:
merged_tables = new_users_table.merge(new_posts_table, how='left')
merged_tables.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [22]:
merged_tables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108926 entries, 0 to 108925
Data columns (total 9 columns):
userId          108926 non-null int64
Reputation      108926 non-null int64
Views           108926 non-null int64
UpVotes         108926 non-null int64
DownVotes       108926 non-null int64
postId          90584 non-null float64
Score           90584 non-null float64
ViewCount       42188 non-null float64
CommentCount    90584 non-null float64
dtypes: float64(4), int64(5)
memory usage: 8.3 MB

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [36]:
print(merged_tables['ViewCount'].value_counts(dropna = False).head())
merged_tables = merged_tables.fillna(value = 0)
print(merged_tables['ViewCount'].value_counts(dropna = False).head())
print(merged_tables.info())
#somehow I no only the ViewCount column has been

0.0     66738
38.0      295
31.0      293
37.0      277
27.0      277
Name: ViewCount, dtype: int64
0.0     66738
38.0      295
31.0      293
37.0      277
27.0      277
Name: ViewCount, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 108926 entries, 0 to 108925
Data columns (total 9 columns):
userId          108926 non-null int64
Reputation      108926 non-null int64
Views           108926 non-null int64
UpVotes         108926 non-null int64
DownVotes       108926 non-null int64
postId          108926 non-null float64
Score           108926 non-null float64
ViewCount       108926 non-null float64
CommentCount    108926 non-null float64
dtypes: float64(4), int64(5)
memory usage: 8.3 MB
None

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [38]:
merged_tables = merged_tables.astype({'ViewCount':int})
print(merged_tables.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108926 entries, 0 to 108925
Data columns (total 9 columns):
userId          108926 non-null int64
Reputation      108926 non-null int64
Views           108926 non-null int64
UpVotes         108926 non-null int64
DownVotes       108926 non-null int64
postId          108926 non-null float64
Score           108926 non-null float64
ViewCount       108926 non-null int64
CommentCount    108926 non-null float64
dtypes: float64(3), int64(6)
memory usage: 8.3 MB
None