# Data Cleaning 

#### 1. Import pandas library.

In [1]:
import pandas as pd

#### 2. Import the users table.

In [3]:
usr_table = pd.read_csv("../data/users.csv")

#### 3. Rename Id column to userId.

In [4]:
usr_table.head()

   Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0           0      -1           1      0     5007       1920
1           1       2         101     25        3          0
2           2       3         101     22       19          0
3           3       4         101     11        0          0
4           4       5        6792   1145      662          5

In [ ]:
#df_rename
#DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore')[source]

In [8]:
usr_table.columns
#it is already done

Index(['Unnamed: 0', 'userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes'], dtype='object')

#### 4. Import the posts table.

In [6]:
posts_table = pd.read_csv("../data/posts.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [26]:
posts_table.columns
posts_table.head()
#it is already done

   Unnamed: 0  PostId  userId  Score  ViewCount  CommentCount
0           0       1     8.0     23     1278.0             1
1           1       2    24.0     22     8198.0             1
2           2       3    18.0     54     3613.0             4
3           3       4    23.0     13     5224.0             2
4           4       5    23.0     81        NaN             3

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [30]:
users_sliced = usr_table[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]]
users_sliced.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [31]:
posts_sliced = posts_table[["PostId", "Score", "userId", "ViewCount", "CommentCount"]]
posts_sliced.head()

   PostId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [32]:
users_sliced["userId"].unique()

array([   -1,     2,     3, ..., 55745, 55746, 55747])

In [35]:
posts_sliced["userId"].unique()

array([8.0000e+00, 2.4000e+01, 1.8000e+01, ..., 3.5801e+04, 4.9365e+04,
       5.5746e+04])

In [36]:
#the first value is a negative, could get the absolute value

In [37]:
len(users_sliced["userId"].unique())

40325

In [38]:
len(posts_sliced["userId"].unique())

21984

In [34]:
#first display:
users_sliced.merge(right=posts_sliced, 
             how="left", 
             left_on="userId",
             right_on="userId")

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...
108921,55743,1,0,0,0,NaN,NaN,NaN,NaN
108922,55744,6,1,0,0,115370.0,1.0,13.0,2.0
108923,55745,101,0,0,0,NaN,NaN,NaN,NaN
108924,55746,106,1,0,0,115376.0,1.0,5.0,2.0
108925,55747,1,0,0,0,NaN,NaN,NaN,NaN

In [47]:
merged_df=users_sliced.merge(right=posts_sliced, 
             how="left", 
             left_on="userId",
             right_on="userId")

In [48]:
merged_df.head()

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0

In [61]:
len(merged_df["userId"].unique())

40325

In [39]:
len(users_sliced["userId"].unique())

40325

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [49]:
merged_df.isna().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
PostId          18342
Score           18342
ViewCount       66738
CommentCount    18342
dtype: int64

In [41]:
users_sliced.isna().sum()

userId        0
Reputation    0
Views         0
UpVotes       0
DownVotes     0
dtype: int64

In [42]:
posts_sliced.isna().sum()

PostId              0
Score               0
userId           1392
ViewCount       49055
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [52]:
#inspect the na
merged_df.isna()
#is na is detecting a 108926 rows with a null value. Here the False are shown. But there are also NaN

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
108921,False,False,False,False,False,True,True,True,True
108922,False,False,False,False,False,False,False,False,False
108923,False,False,False,False,False,True,True,True,True
108924,False,False,False,False,False,False,False,False,False
108925,False,False,False,False,False,True,True,True,True

In [53]:
merged_df.tail()

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
108921,55743,1,0,0,0,NaN,NaN,NaN,NaN
108922,55744,6,1,0,0,115370.0,1.0,13.0,2.0
108923,55745,101,0,0,0,NaN,NaN,NaN,NaN
108924,55746,106,1,0,0,115376.0,1.0,5.0,2.0
108925,55747,1,0,0,0,NaN,NaN,NaN,NaN

In [54]:
posts_sliced.tail()

       PostId  Score   userId  ViewCount  CommentCount
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

In [ ]:
# There are many null values,
#by deleting them we remove some lines that come from the sliced table
#and have missing valies fro ViewCount
#I will fill them with "00" to distinguix them from the real 0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [ ]:
#DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

In [55]:
#display:
merged_df.fillna(value="00")

,userId,Reputation,Views,UpVotes,DownVotes,PostId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,00,0
1,-1,1,0,5007,1920,8576,0,00,0
2,-1,1,0,5007,1920,8578,0,00,0
3,-1,1,0,5007,1920,8981,0,00,0
4,-1,1,0,5007,1920,8982,0,00,0
...,...,...,...,...,...,...,...,...,...
108921,55743,1,0,0,0,00,00,00,00
108922,55744,6,1,0,0,115370,1,13,2
108923,55745,101,0,0,0,00,00,00,00
108924,55746,106,1,0,0,115376,1,5,2
108925,55747,1,0,0,0,00,00,00,00

In [57]:
#apply:
merged_df=merged_df.fillna(value="00")

In [58]:
merged_df.isna().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
PostId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

3