# Data Cleaning 

#### 1. Import pandas library.

In [22]:
import pandas as pd

#### 2. Import the users table.

In [23]:
users = pd.read_csv("../data/users.csv")

In [24]:
users.head()

   Unnamed: 0  userId  Reputation  Views  UpVotes  DownVotes
0           0      -1           1      0     5007       1920
1           1       2         101     25        3          0
2           2       3         101     22       19          0
3           3       4         101     11        0          0
4           4       5        6792   1145      662          5

#### 3. Rename Id column to userId.

In [25]:
users.rename(columns = {'Id':'userId'}, inplace = True)

#### 4. Import the posts table.

In [26]:
posts = pd.read_csv("../data/posts.csv")

#### 5. Rename Id column to postId and OwnerUserId to userId.

In [27]:
posts.rename(columns = {'Id':'postId', "OwnerUsedId":"userId"}, inplace = True)

#### 6. Define new dataframes for users and posts with the following selected columns:
**users_sliced columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts_sliced columns**: postId, Score, userId, ViewCount, CommentCount

In [28]:
users_sliced = users[["userId", "Reputation", "Views", "UpVotes", "DownVotes"]].copy()
posts_sliced = posts[["PostId", "Score", "userId", "ViewCount", "CommentCount"]].copy()

In [29]:
posts_sliced

       PostId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 7. Merge the two dataframes created in the step above (8), users_sliced and posts_sliced. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [30]:
users_posts = users_sliced.merge(right=posts_sliced, how="inner", left_on="userId", right_on="userId")

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [31]:
#There are 48396 missing values in the DataFrame, in the ViewCount column
users_posts.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
PostId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [36]:
users_posts["ViewCount"].fillna(0, inplace=True)

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [33]:
# I can see that ViewCount is not an int
users_posts['ViewCount'] = users_posts['ViewCount'].astype(int)

In [34]:
users_posts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        90584 non-null  int64
 1   Reputation    90584 non-null  int64
 2   Views         90584 non-null  int64
 3   UpVotes       90584 non-null  int64
 4   DownVotes     90584 non-null  int64
 5   PostId        90584 non-null  int64
 6   Score         90584 non-null  int64
 7   ViewCount     90584 non-null  int64
 8   CommentCount  90584 non-null  int64
dtypes: int64(9)
memory usage: 6.9 MB